Confirmación de registro en Gestión de Ausencias - AdType
=====
<p>Hola {{name}},</p>

<p>Para completar el proceso de reigstro en la plataforma de "Gestión de Ausencias - AdType" por favor haga click en el siguiente link:</p>

<p>{{confirm_registration_link}}</p>

<p>Gracias</p>
