Cambio de contraseña en Gestión de Ausencias - AdType
=====
{{# with user ~}}
<p>Hola <strong>{{this.name}}</strong>,</p>

<p>Alguien acaba de solicitar que se resetee la contraseña de su cuenta de {{> email/link href=(get_application_domain) text='Gestión de Ausencias - AdType' }}</p>

{{# if company.ldap_auth_enabled }}
<p>The company your account belongs to uses LDAP authentication so we cannot reset
password for you.</p>

<p>Por favor contacte con el administrador para resetar el contraseña en el Directorio Activo.</p>

{{ else }}
<p>
  Haga click en el siguiente link para proceder a cambiar la contraseña:

  {{> email/link href=(concatenate (get_application_domain) '/reset-password/?t=' (this.get_reset_password_token)) text='Request reset password' }}
</p>

<p>
  Alternativamente puede copiar y pegar el siguiente enlace en su navegador: <pre>{{ concatenate (get_application_domain) '/reset-password/?t=' (this.get_reset_password_token) }}</pre>
</p>
{{/if}}

{{~/ with}}

<p>Gracias</p>
