Petición de Ausencia Resuelta
=====
<p>Hola <strong>{{#with approver }}{{this.full_name}}{{/with}}</strong>,<p>

<p>Acaba de procesar la {{#if was_pended_revoke}} cancelación de la {{/if}}petición de ausencia {{>leave_request_detail leave=leave }} para {{#with requester}}{{this.full_name}}{{/with}}: a {{action}}.</p>

<p>Gracias</p>
