Petición de Ausencia Resuelta
=====
<p>Hola <strong>{{#with requester}}{{this.full_name}}{{/with}}</strong>,</p>

<p>{{#with approver }}{{this.full_name}}{{/with}} ha decidido <strong>{{action}}</strong> su {{#if was_pended_revoke}}cancelación de la {{/if}}petición de ausencia <strong>{{>leave_request_detail leave=leave }}</strong>.</p>

<p>Gracias</p>
