Nueva Petición de Ausencia Aprobada Automáticamente
=====
<p>Hola <strong>{{#with requester}}{{this.full_name}}{{/with}},</strong></p>

<p>Su nueva petición de ausencia <strong>{{>leave_request_detail leave=leave }}</strong> ha sido añadida y automáticamente aprobada.</p>

<p>Gracias</p>
