Petición de Ausencia Rechazada Automáticamente auto approved
=====
<p>Hola {{#with approver }}{{this.full_name}}{{/with}},</p>

<p><strong>{{#with requester}}{{this.full_name}}{{/with}} ha cancelado</strong> la petición de ausencia <strong>{{>leave_request_detail leave=leave }}</strong>.</p>

<p>No hay acciones pendientes en relación a esta petición.</p>

<p>Gracias</p>
