Nueva Petición de Ausencia
=====
<p>Hola <strong>{{#with approver }}{{this.full_name}}{{/with}}</strong>,</p>

<p><strong>{{#with requester}}{{this.full_name}}{{/with}}</strong> ha enviado una petición de ausencia <strong>{{>leave_request_detail leave=leave }}</strong>.</p>

<p>Por favor siga el siguiente link {{> email/link href=(concatenate (get_application_domain) '/requests/' ) text='Peticiones Pendientes'}} para aprobar o rechazar esta petición.</p>

<p>Gracias</p>
