Petición de Ausencia Rechazada
=====
<p>Hola <strong>{{#with requester}}{{this.full_name}}{{/with}}</strong>,</p>

<p>Tu petición de ausencia <strong>{{>leave_request_detail leave=leave }}</strong> ha sido rechazada.</p>

<p>Gracias</p>
