Petición de Ausencia Pendiente
=====
<p>Hola <strong>{{#with requester}}{{this.full_name}}{{/with}}</strong>,</p>

<p>Su petición <strong>{{>leave_request_detail leave=leave }} de cancelación</strong> ha sido enviada <strong>{{#with approver }}{{this.full_name}}{{/with}}</strong>.</p>

<p>Le llegará otro correo electrónico cuando se resuelva la petición.</p>

<p>Gracias</p>
