Registro Completado
=====
<p>Hola <strong>{{user.name}}</strong>,</p>

<p>Gracias por crear una cuenta en el sistema de {{> email/link href=(get_application_domain) text="Gestión de Ausencias - AdType" }}</p>

<p>Gracias</p>
