Cambio de contrase침a para Gesti칩n de Ausencias - AdType
=====
{{# with user ~}}
<p>Hola <strong>{{this.name}}</strong>,</p>

<p>Su contrase침a para el sistema de {{> email/link href=(get_application_domain) text='Gesti칩n de Ausencias - AdType' }} ha sido cambiado correctamente.</p>

{{~/ with }}

<p>Gracias</p>
